{% extends 'event-base.html' %} 
{% block inhead %}
<title>desnos</title>
<meta id="desnos-data" data-desnotic="{{desnotic}}"> 
<style type="text/css">
</style>
{% endblock %} 
{% block provided_container %}
<div class="form-check float-right">
  <input class="form-check-input" type="checkbox" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    pause
  </label>
</div>
<br>
<input class="btn btn-outline-dark btn-sm float-right" type="button" value="copy" onclick="copyToClipboard('#box-sets')">
<br>
<div class="col-xs-6 col-xs-offset-3 col1" id='box-sets'></div>
{% endblock %} 
{% block vanilla_js %}
<script>
function shuffleIndices(array) {
    for (let i = array.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
    }
  return array
}
</script>
{% endblock %} 
{% block scripts_after_jquery %}
<script>
$(document).ready(function() {
  const desnosText = $('#desnos-data').data('desnotic')
  var rangeA, rangeB

  // console.log(rangeA, rangeB)

  if (desnosText.box_a.length != 0 && desnosText.box_b.length != 0) {
    setInterval(function() {
      var my_span = '<span>box_a</span><br><span>box_b</span><br><br>'
      if ($('#defaultCheck1').prop("checked") == false) {
        if (!rangeA || rangeA.length === 0) {
          var indices_a = Array(desnosText.box_a.length).fill(0).map((x, y) => x + y)
          rangeA = shuffleIndices(indices_a)
        }
        if (!rangeB || rangeB.length === 0) {
          var indices_b = Array(desnosText.box_b.length).fill(0).map((x, y) => x + y)
          rangeB = shuffleIndices(indices_b)
        }
        console.log(rangeA, rangeB)
        $('#box-sets').append(my_span.replace('box_a', desnosText.box_a[rangeA.pop()]).replace('box_b', desnosText.box_b[rangeB.pop()]))
      }
    }, 3000); // execute every 3 seconds
  } else {
    $('#box-sets').prepend('<p>Nothing available. Refresh the page in a bit.</p>')
  }
})
</script>
<script>
    function copyToClipboard(element) {
      var built = ''
      var $temp = $("<textarea>");
      $("body").append($temp);
      var blocks = $(element).html().split('<br><br>')
      for (const s of blocks) {
        built += s.split("<span>").join('').split("</span>").join("").replace("<br>", "\n") + "\n\n"
      }
      $temp.val(built).select();
      document.execCommand("copy");
      $temp.remove();
    }
// 
</script>
{% endblock %}

