{% extends 'event-base.html' %} 
{% block inhead %}
<title>desnos</title>
<meta id="desnos-data" data-desnotic="{{desnotic}}"> 
<style type="text/css">
</style>
{% endblock %} 
{% block provided_container %}
<div class="form-check float-right">
  <input class="form-check-input" type="checkbox" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    pause
  </label>
</div>
<br>
<input class="btn btn-outline-dark btn-sm float-right" type="button" value="copy" onclick="copyToClipboard('#box-sets')">
<br>
<div class="col-xs-6 col-xs-offset-3 col1" id='box-sets'></div>
{% endblock %} 
{% block vanilla_js %}
<script>
  function get_random_element (datapoint) 
  { 
    return datapoint[Math.floor(Math.random() * datapoint.length)]; 
  }
</script>
{% endblock %} 
{% block scripts_after_jquery %}
<script>
$(document).ready(function() {
  var desnos_data = $('#desnos-data').data('desnotic');
  if (desnos_data.box_a.length != 0 && desnos_data.box_b.length != 0) {
    setInterval(function() {
      var my_span = '<span>box_a</span><br><span>box_b</span><br><br>'
      if ($('#defaultCheck1').prop("checked") == false) {
        $('#box-sets').append(my_span.replace('box_a', get_random_element(desnos_data.box_a)).replace('box_b', get_random_element(desnos_data.box_b)))
      }
    }, 3000); // execute every 3 seconds
  } else {
    $('#box-sets').prepend('<p>Nothing available. Refresh the page in a bit.</p>')
  }
});
</script>
<script>
    function copyToClipboard(element) {
      var built = ''
      var $temp = $("<textarea>");
      $("body").append($temp);
      var blocks = $(element).html().split('<br><br>')
      for (const s of blocks) {
        built += s.split("<span>").join('').split("</span>").join("").replace("<br>", "\n") + "\n\n"
      }
      $temp.val(built).select();
      document.execCommand("copy");
      $temp.remove();
    }
</script>
{% endblock %}