<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>harry tankoos books</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <style type="text/css">

  html {
    position: relative;
    min-height: 100%;
  }

  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /* background-color: #f5f5f5;*/
  }

  .indent-abit {
    display: inline-block;
    margin-left: 1.5%;
  }

  img.one {
    height: 20%;
    width: 20%;
  }
  </style>
</head>

<body>
  <div class="container">
    <div class="col-xs-offset-1">
      <br>
      <h3>harry tankoos books&nbsp;&nbsp;&nbsp;
        <img class="pure-img-responsive" src="https://storage.googleapis.com/htbassets/harry-tankoos-logo.png" alt="htb logo" style="max-height: 100px">
      </h3>
      <br>
      <br>
      <span><b>recent titles:</b></span><br><br>
      <span class="indent-abit"><a target="_blank" href="https://gumroad.com/upfromsumdirt#mIjon">deifying a total darkness</a>&nbsp;&nbsp;upfromsumdirt</span><br><br>
      <span class="indent-abit"><a target="_blank" href="https://www.regangoodpoetry.com/theneedle">the needle</a>&nbsp;&nbsp;regan good</span><br>
      <br><br>
      <span class="indent-abit">100% of direct sales from above links --> the authors</span><br><br>
      <span class="indent-abit">our titles distrubuted by <a target="_blank" href="https://www.bookch.com/">bookch</a></span><br><br>
      </span><br>
      <br>
      <br>
      <br>
      <span><b>previous titles</b> (in pdf)<b>:</b></span><br><br>
      <span class="indent-abit"><a target="_blank" href="https://storage.googleapis.com/harrytankoos/Angry-Penguins-2006.pdf">angry penguins</a>&nbsp;&nbsp;brian kim stefans</span><br><br>
      <span class="indent-abit"><a target="_blank" href="https://storage.googleapis.com/harrytankoos/shotclocks.pdf">shotclocks</a>&nbsp;&nbsp;stephanie burt</span><br><br>
      <span class="indent-abit"><a target="_blank" href="https://www.regangoodpoetry.com/the-atlantic-house">the atlantic house</a>&nbsp;&nbsp;regan good&nbsp;&nbsp;<strike>pdf</strike></span><br><br>
      <span class="indent-abit"><a target="_blank" href="https://storage.googleapis.com/harrytankoos/thelikesofus.pdf">the likes of us</a>&nbsp;&nbsp;michael gottlieb</span><br><br>
      <span class="indent-abit"><a target="_blank" href="https://storage.googleapis.com/harrytankoos/thineinsteadthank.pdf">thine instead thank</a>&nbsp;&nbsp;jeffrey jullich</span><br><br>
      <br>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="col-xs-offset-1">
        <br><br>
        <span>harrytankoosbooks / gmail </span><br>
        <span>harry tankoos books is a member press of the <a target="_blank" href="https://poetryworkersunion.wordpress.com/">Poets Union</a></span>
        <br><br>
        <a target="_blank" href="https://harrytankoos.cloud/ingirum.html">ingirum</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a target="_blank" href="https://harrytankoos.cloud/posted.html">posted</a>
        <br><br>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
  </script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>

</html>