{% extends 'event-base.html' %}

{% block inhead %}
<title>desnos</title>
{% endblock %}
{% block provided_container %}
  <h2>{{event[0]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event[1]}}</h2>
<br>
{% for item in success %}
  <span>saved: {{item}}</span><br>
{% endfor %}
<br>
<br>
<form method="POST" role="form" action="{{action}}" class='bare-bones-input' novalidate>
  <div class="form-group">
    <label for="question-text">
      <h4>{{box_a}}</h4>
    </label>
    <textarea class="form-control col-8" id="question-text" name="box_a" rows="3" placeholder="Text" ></textarea>
    <div class="invalid-feedback">
      Please enter some text
    </div>
  </div>
  <br>
  <hr class="half-rule"/>  
  <br>
  <div class="form-group">
    <label for="answer-text">
      <h4>{{box_b}}</h4>
    </label>
    <textarea class="form-control col-8" id="answer-text" name="box_b" rows="3" placeholder="Text" ></textarea>
    <div class="invalid-feedback">
      Please enter some text
    </div>
  </div>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <br>
  <button type="submit" class="btn btn-primary">Submit Text</button>
</form>
{% endblock %}