{% extends 'event-base.html' %}

{% block inhead %}
<title>desnos</title>
{% endblock %}
{% block provided_container %}
  <h2>{{event_text[0]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event_text[1]}}</h2>
<br>
{% for item in success %}
  <span>saved: {{item}}</span><br>
{% endfor %}
<br>
<br>
<form method="POST" role="form" action="{{action}}" class='bare-bones-input' novalidate>
{% for box_name, name_text in textboxes.items() %}
  <div class="form-group">
    <label for="question-text">
      <h4>{{name_text}}</h4>
    </label>
    <textarea class="form-control col-8" id="{{box_name}}" name="{{box_name}}" rows="3" placeholder="Text" required></textarea>
    <div class="invalid-feedback">
      Please enter some text (use spaces to skip)
    </div>
  </div>
  <br>
<!--   <div class="col-8">
    <hr class="half-rule"/>  
  </div>
  <br> -->
{% endfor %}
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <br>
  <button type="submit" class="btn btn-primary">Submit Text</button>
</form>
{% endblock %}