<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>harry tankoos books</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <style type="text/css">
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      /* background-color: #f5f5f5;*/
    }
</style>

  </head>
  <body>




<div class="container ">
<div class="col-xs-offset-1">
<br>
<h3>posted on the internet&nbsp;</h3>
<small>not published by harry tankoos / take down on request </small>
<br><br>

<a target="_blank" href="https://storage.googleapis.com/postedtexts/dreams.pdf">dreams of oki sogumi</a><br>
<span>oki sogumi</span> <br>
<span>(spoilsport & violaceous euphoria)</span><br><br><br>

<a target="_blank" href="https://storage.googleapis.com/postedtexts/mycommonheart.pdf">my common heart</a><br>
<span>anne boyer</span><br>
<span>(spooky girlfriend)</span><br><br><br>

<a target="_blank" href="https://storage.googleapis.com/postedtexts/empire.pdf">the empire of neomemory</a><br>
<span>heriberto yépez</span><br>
<span>(chain links)</span><br><br><br>

<a target="_blank" href="https://storage.googleapis.com/postedtexts/namsetoura.pdf">the namsetoura papers</a><br>
<span>kamau brathwaite</span><br><br><br>

<a target="_blank" href="https://storage.googleapis.com/postedtexts/os_u.pdf">underglazy</a><br>
<span>oki sogumi</span><br><br><br>

<br><br>
</div>
</div>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
</script>

<script 
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
  crossorigin="anonymous">
</script>
  </body>
</html>
