{% extends 'event-base.html' %} 
{% block inhead %}
<title>desnos</title>
{% endblock %}
{% block provided_container %}
  <input class="btn btn-outline-dark btn-sm float-right" type="button" value="copy" onclick="copyToClipboard('#desnos-container')">

  <h2>{{event_text[0]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event_text[1]}}</h2>
<br>
<br>
{% for key, texts in text_for_display.items() %}
<h2>All {{key}}s</h2>
  {% for item in texts %}
      <span>{{item}}</span><br>
  {% endfor %}
<br>
<br>
{% endfor %}
{% endblock %}
{% block scripts_after_jquery %}
<script>
    function copyToClipboard(element) {
      var $temp = $("<textarea>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
    }
</script>
{% endblock %}
