{% extends 'event-base.html' %} 
{% block inhead %}
<title>desnos</title>
{% endblock %}
{% block provided_container %}
  <input class="btn btn-primary float-right" type="button" value="copy" onclick="copyToClipboard('#desnos-container')">

  <h2>{{event[0]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event[1]}}</h2>
<br>
<br>
<h2>All {{box_a}}s</h2>
{% for item in all_a %}
  <span>{{item}}</span><br>
{% endfor %}
<br>
<h2>All {{box_b}}s</h2>
{% for item in all_b %}
  <span>{{item}}</span><br>
{% endfor %}
{% endblock %}
{% block scripts_after_jquery %}
<script>
    function copyToClipboard(element) {
      var $temp = $("<textarea>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
    }
</script>
{% endblock %}
